<meta charset="utf-8">
<app-navbar></app-navbar>
<div class="row"></div>
<div class="row"></div>
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
                <div class="row"></div>
                <h2 class="center-align">Quiz Selection</h2>
                <div class="card-content">
                    <form #selectForm="ngForm" action='/select'>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="input-field col s4">
                                <h6 class=""> Category:</h6> 
                                <select name="Category" [(ngModel)]="category" class="browser-default" required>
                                    <option value="" disabled selected>Choose your category</option>
                                    <option value="0">Music</option>
                                    <option value="1">Technology</option>
                                    <option value="2">Sports</option>
                                </select>
                                <!-- <label>Category</label> -->
                                <div class="col s4"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="input-field col s4">
        
                            </div>
                            <div class="col s4"></div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button (click)="onSubmitForm()" class="btn-large btn-submit" type="submit"
                                    [disabled]="!selectForm.valid">Start</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>

    </div>
</div>